.env.example
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
.DS_Store
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.sqlite
*.bak
*.backup
*.tmp
*.temp
*.orig
*.rej
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.pyre/
.mypy_cache/
.dmypy.json
.git/